#wrapper{
  background-color: black;
}

#header{
  background-color: red;
  text-align: center;
  color: white;
  height: 100px;
  padding: 16px;
}

#content{
  background-color: green;
  height: 650px;
  color: white;
  padding-top: 16px;
}

#footer{
  background-color: blue;
  height: 100px;
  color: white;
  padding-bottom: 16px;
  padding-top: 16px;
}
