body{
  background-color: white;
}

.greenbox{
  margin: 80px;
  height: 200px;
  background-color: green;
}

.text{
  border: 3px dotted black;
  text-align: left;
 padding-top: 20px;
 margin: 10px;
}

.border{
  color: red;
}
