body{
  background-color: white;
}

.box1{
  margin: 10px;
  height: 400px;
}

.text{
  border: 3px dotted purple;
  text-align: center;
 padding-top: 200px;
}

.text2{
  color: green;
  text-align: center;
  margin:0;
}
.text3{
    color: orange;

}

.text3 span{
  color: red;
  font-size: 30px;
  vertical-align:super;
}

.text4 span{
  color: yellow;
  font-size: 6px;
  text-align:left;

}
