#wrapper{
  background-color: black;
  margin-left: 200px;
  margin-right: 200px;
}
body{
  background-color: green;
  margin-top: 0;
}

#header{
  background-color: red;
  text-align: center;
  color: black;
  height: 100px;
  padding: 16px;
}
#nav1{
  background-color: pink;
  color: black;
  width:300px;
  height: 50px;
  padding: 16px;
  float: left;
}

#nav2{
  background-color: orange;
  color: black;
  height: 50px;
  padding: 16px;
}

#content{
  background-color: blue;
  height: 650px;
  color: white;
  padding-top: 16px;
}

#footer{
  background-color: yellow;
  height: 100px;
  color: black;
  padding-top: 16px;
}
